{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'modal-container',
	content.field_block_extra_class|render|striptags|replace({"\n":""})|lower,
    'clearfix',
	image_class,
  ]
%}
<div{{ attributes.addClass(classes) }} 
data-modal-id="{{ content.field_data_modal_id|render|striptags|replace({"\n":"", " ":""})|lower }}">

    <div class="modal-content bg-white imagebg" 
        data-width="{{ content.field_data_width|render|striptags|replace({"\n":"", " ":""})|lower }}" 
        data-height="{{ content.field_data_height|render|striptags|replace({"\n":"", " ":""})|lower }}"
    >
        <div class="pos-vertical-center clearfix">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                <div class="block-inner">
                    {{ title_prefix }}
                    {{ title_suffix }}
                </div>

                {% block content %}
                    {{ content|without('field_block_extra_class','field_data_modal_id','field_data_width','field_data_height') }}
                {% endblock %}
            </div>
        </div>
    </div>
</div>